doctype html
html
  head
    title Trainroulette | Partir maintenant avec TGVmax
    link rel="stylesheet" type="text/css" href="./stylesheets/style.css"
  body
    .overlay
      img src="./images/logo.png"
      h1
        span#content
          span#result
          a#trainlink href="." target="_blank" Partir 🏝
        svg#loader xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve"
          g
            path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z" fill="#ec6862"
            animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1200ms" repeatCount="indefinite"
      form#form_place action="/get_coordinates" method="post"
        input#place name="place" type="text" placeholder="Gare de départ"
        input name="submit" type="submit" value="Changer →"
    javascript:
      getLocation();
      var x = document.getElementById("result");

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          x.innerHTML = "La localisation n'est pas supporté par ce navigateur.";
        }
      }

      function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            hideLoader();
            showTravels(JSON.parse(this.responseText));
          }
        };
        xhttp.open("POST", "next_travel", true);
        xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhttp.send("lat="+lat+"&lon="+lon);
      }

      function showError(error) {
        hideLoader();
        switch(error.code) {
          case error.PERMISSION_DENIED:
            x.innerHTML = "La localisation a &#xE9;t&#xE9; refus&#xE9;e"
            break;
          case error.POSITION_UNAVAILABLE:
            x.innerHTML = "La localisation n'est pas disponible."
            break;
          case error.TIMEOUT:
            x.innerHTML = "La demande de localisation a expir&#xE9;."
            break;
          case error.UNKNOWN_ERROR:
            x.innerHTML = "Une erreur inconnue est survenue."
            break;
        }
      }

      document.getElementById("form_place").onsubmit = function() {
        showLoader();
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var coords = JSON.parse(this.responseText);
            showPosition({
              coords: {
                latitude: coords[0],
                longitude: coords[1]
              }
            });
          }
        };
        xhttp.open("POST", "get_coordinates", true);
        xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhttp.send("place=" + document.getElementById("place").value);
        return false;
      }

      function showLoader() {
        document.getElementById("content").style.display = 'none';
        document.getElementById("loader").style.display = 'inline';
      }

      function hideLoader() {
        document.getElementById("content").style.display = 'block';
        document.getElementById("loader").style.display = 'none';
      }

      function showTravels(travels) {
        var date = new Date(travels[0].datetime)
        document.getElementById("result").innerHTML = "Prochain train depuis " + travels[0].originStation.name + " à destination de " + travels[0].destinationStation.name + ", départ aujourd'hui à " + (date.getHours() - 1) + ":" + date.getMinutes();
        document.getElementById("trainlink").href = "https://www.trainline.eu/search/" + travels[0].originStation.id + "/" + travels[0].destinationStation.id
      }
